/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 900;
  background-image: url('../assets/meleeBG.jpeg');
  background-position: center;
}
ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: .3rem;
  list-style-type: none;
  width: 1300px;
  padding-left: 0;
}
li {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  border-radius: 15%;
  border: 3px solid gray;
}
.characterList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
img {
  width: 150%;
}
h1 {
  color: white;
}
.characterChoice {
  width: 408px;
  height: 564px;
  border: 5px solid gray;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
