/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 900;
  cursor: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freeiconspng.com%2Fimages%2Fcursor-png&psig=AOvVaw0TyjtUzc4MCUjZcMj2JGn6&ust=1721935821716000&source=images&cd=vfe&opi=89978449&ved=2ahUKEwjduI35tMCHAxUnm7AFHZePApwQjRx6BAgAEBg');
  background-image: url('../assets/marioWorldBG.png');
  background-position: center;
}
ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  list-style-type: none;
  width: 800px;
  border: 1px solid red;
  padding-left: 0;
}
li {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  border-radius: 15%;
  border: 3px solid gray;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
  border: 1px solid red;
}
img {
  width: 150%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
